# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [2]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
corel_deb_ch = data.pivot_table(columns='children', values='debt', aggfunc='count')
corel_deb_ch #посмотрим на условие наличия детей у заемщиков -кому выдают кредит

children      0     1     2    3   4  5
debt      14091  4808  2052  330  41  9

In [24]:
by_child_debt = data.groupby(['children','debt']).agg({'debt':'count'})
by_child_debt # посмотрим на показатели наличия задолжности у заемщика при отстутствии/наличия детей  и их количества

                debt
children debt
0        0     13028
         1      1063
1        0      4364
         1       444
2        0      1858
         1       194
3        0       303
         1        27
4        0        37
         1         4
5        0         9

In [26]:
by_child_debt = data.groupby('children').agg({'debt':['count','sum']})
by_child_debt

by_child_debt = by_child_debt.rename(columns={'count':'Кол-во заемщиков', 'sum':'Кол-во должников'})
by_child_debt['Доля должников'] = by_child_debt['debt']['Кол-во должников'] / \
                                  by_child_debt['debt']['Кол-во заемщиков']

by_child_debt

# Кирилл(г-н "новый ревьюер... ), надеюсь правильно поняла "дорожную карту" - это новый вариант решения.
# + 'Эксперимент  с describe, ниже'

                     debt                  Доля должников
         Кол-во заемщиков Кол-во должников
children
0                   14091             1063       0.075438
1                    4808              444       0.092346
2                    2052              194       0.094542
3                     330               27       0.081818
4                      41                4       0.097561
5                       9                0       0.000000

In [31]:
t = data.groupby('children').agg({'debt':'describe'})
t #  Отдельно  решила провести эксперимент  и была удивлена произошедшему:
  #  Mean — среднее значение, Std — стандартное отклонение значения/, здесь мы видим что  они 
  #  возвращают расчет отношений проблемных и  выплаченных кредтов по  отношению  к выданным по 
  #  определенной группировке по наличию детей

             debt
            count      mean       std  min  25%  50%  75%  max
children
0         14091.0  0.075438  0.264107  0.0  0.0  0.0  0.0  1.0
1          4808.0  0.092346  0.289544  0.0  0.0  0.0  0.0  1.0
2          2052.0  0.094542  0.292652  0.0  0.0  0.0  0.0  1.0
3           330.0  0.081818  0.274504  0.0  0.0  0.0  0.0  1.0
4            41.0  0.097561  0.300406  0.0  0.0  0.0  0.0  1.0
5             9.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0

___

**Вывод:**

- за кредитом чаще обращаются бездетные 
- разница по возврату кредита у кого есть дети или их нет ЕСТЬ, но небольшая
- родители с  количеством детей от 5 более ответственно относятся к  возврату кредита, но и Заемщиков с такими  данными гораздо меньше чем остальных

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [32]:
data['family_status'].unique() # уточним какие есть категории заемщиков

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [34]:
by_family_status_to_debt = data.groupby('family_status').agg({"debt":['count','sum']})
by_family_status_to_debt['Доля должников'] = by_family_status_to_debt['debt']['sum']/ \
                                             by_family_status_to_debt['debt']['count']  

by_family_status_to_debt = by_family_status_to_debt.rename(columns = \
                           {'count':'Кол-во заемщиков', 'sum':'Кол-во должников'})

by_family_status_to_debt

                                  debt                  Доля должников
                      Кол-во заемщиков Кол-во должников
family_status
Не женат / не замужем             2796              273       0.097639
в разводе                         1189               84       0.070648
вдовец / вдова                     951               63       0.066246
гражданский брак                  4134              385       0.093130
женат / замужем                  12261              927       0.075606

___

**Вывод:**

Одинокие и состоящие в гражданском браке чаще имею просрочку с выплатой займа

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [35]:
data['total_income_category'].value_counts() #Мы создавали столбец с категориями по уровню дохода, посмотрим их уникальные данные
                                             #от большего к меньшему

C    15921
B     5014
D      349
A       25
E       22
Name: total_income_category, dtype: int64

In [38]:
koef_income_сat_to_debt = data.groupby('total_income_category').agg({'debt': ['count','sum']})
koef_income_сat_to_debt['Доля должников'] = koef_income_сat_to_debt['debt']['sum']/ \
                                            koef_income_сat_to_debt['debt']['count']  

koef_income_сat_to_debt = koef_income_сat_to_debt.rename(columns = \
                           {'count':'Кол-во заемщиков', 'sum':'Кол-во должников'})

koef_income_сat_to_debt

                                  debt                  Доля должников
                      Кол-во заемщиков Кол-во должников
total_income_category
A                                   25                2       0.080000
B                                 5014              354       0.070602
C                                15921             1353       0.084982
D                                  349               21       0.060172
E                                   22                2       0.090909

___

**Вывод:**

- Чаще всего за кредитом обращаются те лица, уровень дохода  которых от 0–30000 у.е.
- Худшая кредитная история у тех кто состоит в категории "Е" с самым маленьким уровнем дохода 
- Самые ответственные заемщики с уровнем дохода от 50001–200000 у.е.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [39]:
data['purpose'].unique() #К нам поступили "сырые" данные по целям кредитования, узнали уникальные значения
                         #которые  мы перевели в категориальные  показатели - с ними легче работать

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

In [40]:
data['purpose_category'].unique() #По этим категориям  мы разнесли цели займов

array(['операции с недвижимостью', 'операции с автомобилем',
       'получение образования', 'проведение свадьбы'], dtype=object)

In [41]:
data['purpose_category'].value_counts() #Чаще всего обращались за займом по операциям с недвижимостью

операции с недвижимостью    10751
операции с автомобилем       4279
получение образования        3988
проведение свадьбы           2313
Name: purpose_category, dtype: int64

In [42]:
sootn_purpos_to_debt = data.groupby(['purpose_category','debt']).agg({'debt':'count'})
sootn_purpos_to_debt  #Построим частотную таблицу с показателями по займам которые вовремя вернули и c займами, которые были 
                      #просрочены  относительно категорий займов
                      # '0'-займ вернули вовремя "1" - была задолженность

                               debt
purpose_category         debt
операции с автомобилем   0     3879
                         1      400
операции с недвижимостью 0     9971
                         1      780
получение образования    0     3619
                         1      369
проведение свадьбы       0     2130
                         1      183

In [43]:
pokaz_income_debt = data.groupby('purpose_category')['debt'].sum() / data.groupby('purpose_category')['debt'].count()
pokaz_income_debt.sort_values(ascending=False) #Выделим отдельно коэффициенты отношений проблемных займов к вовремы вылпаченным
                                               # по категориям Целей займов

purpose_category
операции с автомобилем      0.093480
получение образования       0.092528
проведение свадьбы          0.079118
операции с недвижимостью    0.072551
Name: debt, dtype: float64

___

**Вывод:**

Чаще всего берут кредиты на операции с недвижимостью, но кредитная история по этой причине самая лучшая по сравнению с другими категориями.
Операции с автомобилями и получение образования в лидерах по целям займа. Образование порой длится годами - можно понять  почему есть проблемы с погашением. Покупка автомобиля может расцениваться как карпиз, к которому подошли без подсчетов и анализа  своих денежных возможностей. Интересно в дальнейшем посмотреть возраст тех, кто обращался за кредитом на машину.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:*

-человеческий фактор при введении в Базу Данных ответов анкеты: 
- ошибки в неверных данных  колонки _children_
- обнаружение Дубликатов- анкеты вносились несколько раз в БД
    
-нежелание давать ответы потенциального заемщика на те вопросы, которые, как он думает, повлияют на  решение о предоставлении кредита(к примеру, колонка с пропущенными значениями _total_income_ - ежемесячный доход),  возможно "серый" доход который нельзя подтвердить 
- наверное это можно отнести к риску и взять на контроль сотрудникам кредитной организации

-вопрос анкеты _days_employed_ — общий трудовой стаж _в днях_ может вызвать затруднение в подсчете, неверная  же информация может повлиять на решение о выдаче кредита

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:*

 Хорошо продемонстрировать  это утверждение на примере зарплат:
Посмотрим на медианные (часто встречающиеся) зарплаты, что можем сделать с помощью функции __.median()__  - он же _50% персентиль_  если применить  функцию __.describe()__.   
Применим функцию __.value_counts()__ которая продемонстрирует  с какой частотой повторяются уникальные значения. Самая первая строка покажет часто встречаемые показатели, далее - по нисходящей. 

   И, как видим, средняя зарплата (__mean__  из функции __.median()__) находится между 1 и 2 ступенькой тех данных  которые встречаются ЧАЩЕ (см. __value_counts()__).
    
   Медианные и средние показатели в данном случае близки, но правильнее недостающие КОЛИЧЕСТВЕННЫЕ показатели  заполнять   _типичными_ медианными данными.

In [45]:
data['total_income'].median()

142594.0

In [46]:
data.total_income.describe().round()

count      21331.0
mean      165343.0
std        98314.0
min        20667.0
25%       107507.0
50%       142594.0
75%       195842.0
max      2265604.0
Name: total_income, dtype: float64

In [47]:
data['total_income'].value_counts()

142594    1066
172357     498
118514     384
150447     144
244123       3
          ...
66485        1
72630        1
627639       1
125880       1
126820       1
Name: total_income, Length: 18504, dtype: int64

___

### Шаг 4: общий вывод.

___

- На вопрос есть ли разница по возврату кредитов __бездетных__ и тех у кого есть __дети__, можно ответить что есть различие. Как в одной категории так и в другой есть данные проблемы проблеме возврата кредита. Показатели от 0,8 у бездетных до 0,10 в среднем у тех, у кого дети есть.
- Опытные людей, пенсионеры, вдовцы/ в разводе - более аккуратны в погашении займов, они самые ответственные. Находящиеся в гражданском браке или одинокие люди чаще сталкиваются с просроченными кредитами.
- Стоит отметить что  эффективно давать займы на  операции  с недвижимостью - заемщики самые пунктуальные, в то же время займы на  автомобили и образование  из ранга проблемных. На автомобильные займы относится большая вероятность  столкнуться с проблемой возврата кредита, в то время как  эта категория на 2 месте по популярности целей займа.

- т.к. результаты будут учтены в при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку, стоит обратить внимание на анкетирование заемщиков (полноту данных, возможно изменению анкеты относительно рабочего стажа) и аккуратности введения данных в Базу данных- в исходнях данных есть дубли, которые были удалены. Есть верояность что удаленные данные (хоть их было немного) могли повлиять  на актуальность выводов при обработке.